.custom-button {
  width: 18rem;
  height: 5rem;
  letter-spacing: 0.2px;
  line-height: 2rem;
  padding: 0;
  font-size: 1.7rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: $google-blue;
    color: white;

    &:hover {
      background-color: darken($google-blue, 20%);
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
