*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 2rem 6rem;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

h2 {
  font-size: 2.4rem;
}

span {
  font-size: 2rem;
}

.main-container {
  position: relative;
  max-width: 75vw;
  margin: 0 12.5vw;

  @media (max-width: 70rem) {
    padding: 0;
  }
}
