*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 2rem 6rem;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 2.4rem;
}

span {
  font-size: 2rem;
}

#root {
  margin: 0 auto;
  width: 75vw;
}
